# Дипломная работа по курсу «Python для анализа данных»

-    Загрузить файл hr.csv (можно найти во сложении к заданию)
-    Рассчитать основные статистики для переменных (среднее, медиана, мода, мин/макс, сред. отклонение)
-    Рассчитать и визуализировать корреляционную матрицу для переменных
-    Визуализировать несколько взаимосвязей между переменными
-    С использованием t-test статистики проверить взаимосвязи между несколькими переменными
-    Рассчитать сколько работников работает в каждом департаменте
-    Показать распределение сотрудников по зарплатам
-    Показать распределение сотрудников по зарплатам совместно с департаментами
-    Сколько сотрудников покинули компанию
-    Проверить несколько гипотез для данных, чтобы понять почему сотрудники покидают компанию
-    Загрузить результат (в формате .ipynb ноутбука) в репозиторий. Разместить ссылку на репозиторий в лк на сайте

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('HR\HR.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.0+ MB